@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
 }
@theme{
    --color-light-white: #F5F1ED;
    --color-light-blue: #EDEDE9;
    --color-light-gray: #D6CCC2;
    --color-light-beige: #F5EBE0;
    --color-ligth-bone: #E3D5CA;
    --color-ligth-brown: #D5BDAF;
    --color-dark-black: #252323;
    --color-dark-gray: #70798C;
    --color-dark-beige: #DAD2BC;
    --color-dark-brown: #A99985;
}